.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #fff;
  padding: 100px;
  border-radius: 20px;

  box-shadow: 2px 2px rgba(0, 0, 0, 0.185)
}

.titulo {
  display: flex;
  justify-content: center;
}