div.chooseModule img.responsive-logo  {
  display: flex;
  justify-content: center;
  width: 80%;
}

.cursos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vw;
  margin-left: 100px;
  margin-right: 100px;
}

.card-curso {
  margin: 10px;
  background: linear-gradient(90deg, rgba(62,155,168,1) 0%, rgba(137,12,204,1) 0%, rgba(98,28,177,1) 18%, rgba(181,37,118,1) 100%, rgba(194,123,8,1) 100%);  color: #fff;
  color: white;
  box-shadow: none;
  border: 0;
  padding: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18pt;
  transition: 0.5s;
  cursor: pointer;
}

.card-curso:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

@media (min-width: 600px) {
  div.chooseModule img.responsive-logo  {
    width: 65% !important;
  }  
}

@media (min-width: 768px) {
  div.chooseModule img.responsive-logo  {
    width: 55% !important;
  }  
}

@media (min-width: 900px) {
  div.chooseModule img.responsive-logo  {
    width: 35% !important;
  }  
}

@media (min-width: 1200px) {
  div.chooseModule img.responsive-logo  {
    width: 20% !important;
  }  
}



