.content-table {
  margin-top: 25px;
}

.filter-form-container form.filter-form .filter-form-basic {
  display: grid;
  gap: 10px;
}

.filter-form-container form.filter-form .filter-form-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

@media (min-width: 768px){
  .filter-form-container form.filter-form .filter-form-basic {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .filter-form-container form.filter-form .filter-form-button {
    justify-content: flex-end !important;
    align-items: flex-end !important;
    
  }
}

@media (min-width: 1024px){
  .filter-form-container form.filter-form .filter-form-basic {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (min-width: 1440px){
  .filter-form-container form.filter-form .filter-form-basic {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
