div.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  transition: 1s;
}

div.loading img.responsive-logo  {
  display: flex;
  width: 70vw;  
}

.pulse {
  animation: pulse 3s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.7);
  }
}
    
@keyframes pulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.7);
  }
}


@media (min-width: 768px) {
  div.loading img.responsive-logo  {
    width: 40vw !important;
  }  
}

@media (min-width: 1200px) {
  div.loading img.responsive-logo  {
    width: 20vw !important;
  }  
}
