.data-grid-categories {
  margin-top: 40px !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  gap: 40px;
}

@media  (min-width: 1200px) {
  
  .data-grid-categories {
    margin-top: 40px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 40px;
  }
}