div.choose-module img.responsive-logo  {
  display: flex;
  width: 80%;
}

@media (min-width: 600px) {
  div.choose-module img.responsive-logo  {
    width: 65% !important;
  }  
}

@media (min-width: 768px) {
  div.choose-module img.responsive-logo  {
    width: 55% !important;
  }  
}

@media (min-width: 900px) {
  div.choose-module img.responsive-logo  {
    width: 35% !important;
  }  
}

@media (min-width: 1200px) {
  div.choose-module img.responsive-logo  {
    width: 20% !important;
  }  
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px;

  width: 400px;
  height: 400px;

  background-color: #43004E;
  border-radius: 40px;

  text-decoration: none !important;
  
  font-weight: 600;
  font-size: 1.2rem;
  color: #d87c4b;

  transition: 0.6s;
}

.card-link-icon svg{
  font-size: 50pt;
}

.card-link:hover {
  transform: scale(1.08);
  transition: 0.6s;
}