.accounting-form-container form.accounting-form .accounting-form-company, 
.accounting-form-container form.accounting-form .accounting-form-address,
.accounting-form-container form.accounting-form .accounting-form-owner,
.accounting-form-container form.accounting-form .accounting-form-admin {
  display: grid;
  gap: 10px;
}

.accounting-form-container form.accounting-form .accounting-form-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.accounting-form-container form.accounting-form .cep-warning {
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .accounting-form-container form.accounting-form .accounting-form-company, 
  .accounting-form-container form.accounting-form .accounting-form-address,
  .accounting-form-container form.accounting-form .accounting-form-owner,
  .accounting-form-container form.accounting-form .accounting-form-admin  {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .accounting-form-container form.accounting-form .accounting-form-button {
    justify-content: flex-end !important;
    align-items: flex-end !important;
    
  }
}

@media (min-width: 1024px){
  .accounting-form-container form.accounting-form .accounting-form-company, 
  .accounting-form-container form.accounting-form .accounting-form-address,
  .accounting-form-container form.accounting-form .accounting-form-owner,
  .accounting-form-container form.accounting-form .accounting-form-admin {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (min-width: 1440px){
  .accounting-form-container form.accounting-form .accounting-form-company, 
  .accounting-form-container form.accounting-form .accounting-form-address,
  .accounting-form-container form.accounting-form .accounting-form-owner,
  .accounting-form-container form.accounting-form .accounting-form-admin  {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}