* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: rgb(240, 235, 235);
  --white: #ffffff;
  --text: #413e3e;
  --background: #F2F3F5;
  --green: #a3c338;
  --greenDark: #7d9727;
  --red: #e52d2d;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;

  background: #fff;
}

.buttonLink {
  text-decoration: none;
}